$v-star-rating-star-color: #ff9800 !default;
$v-star-rating-star-active-color: #ff9800 !default;
$v-star-rating-spacing: 4px !default;

:root {
  --v-star-rating-star-color: #{$v-star-rating-star-color};
  --v-star-rating-star-active-color: #{$v-star-rating-star-active-color};
  --v-star-rating-spacing: #{$v-star-rating-spacing};
}

.v-star-rating {
  $block: &;

  &--colored {
    #{$block}__star {
      svg {
        fill: var(--v-star-rating-star-color, $v-star-rating-star-color);
      }
    }

    #{$block}__star--active {
      svg {
        fill: var(
          --v-star-rating-star-active-color,
          $v-star-rating-star-active-color
        );
      }
    }
  }

  &__star ~ &__star {
    margin-left: var(--v-star-rating-spacing, $v-star-rating-spacing);
  }
}
