$v-star-rating-star-display: flex !default;
$v-star-rating-star-size: 32px !default;

:root {
  --v-star-rating-star-size: #{$v-star-rating-star-size};
}

.v-star-rating {
  display: flex;

  &__input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  &__star {
    svg {
      display: block;
      width: var(--v-star-rating-star-size, $v-star-rating-star-size);
      height: var(--v-star-rating-star-size, $v-star-rating-star-size);
    }
  }
}
